/* .container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    width: 100%;
  }
  
  .container:hover{
    background-color: #2e374a;
  }
  
  .texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .number {
    font-size: 24px;
    font-weight: 500;
  }
  
  .detail {
    font-size: 14px;
    font-weight: 300;
  }
  
  .positive {
    color: lime;
  }
  
  .negative {
    color: red;
  } */

  /* //model  */
  


  .card {
    width: 190px;
    height: 254px;
    background: var(--bgSoft);
    border-radius: 15px;
    box-shadow: 1px 5px 60px 0px var(--bgSoft);
   }
   
   .card .cardBorderTop {
    width: 60%;
    height: 3%;
    background: var(--bg);
    margin: auto;
    border-radius: 0px 0px 15px 15px;
   }
   
   .card .span {
    font-weight: 600;
    color: var(--textSoft);
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 16px;
   }
   
   .card .job {
    font-weight: 400;
    color: var(--textSoft);
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 12px;
   }
   
   .card .img {
    width: 70px;
    height: 80px;
    background: #5d57c9;
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   .card .button {
    padding: 8px 25px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    background: #5d57c9;
    color: var(--textSoft);
    font-weight: 600;
   }
   
   .card .button:hover {
    background: #534bf3;
   }